//Color del Fondo (BODY)
@body-bg:               #b6b6b6;

//Color del Texto
@text-color:            #000000;

//Color del Fondo de la Barra superior (navbar)
@navbar-inverse-bg: 	#43474c;

//Color del Footer
@panel-bg:              #fff;

//Tipografia
@font-family-sans-serif:  "Orbitron", Helvetica, Arial, sans-serif;